.page-head {
    background: #ffffff;
}

.page-head .container {
    position: relative;
}

.page-head .page-title {
    display: inline-block;
    float: left;
    padding: 19px 0;
}

.page-head .page-title > h1 {
    color: #697882;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
}

.page-title-right {
    padding: 14px 0;
}
