.control-label {
    display: block;
    width: 100%;
}

.anima-form__foto {
}

.anima-form__foto img {
    max-width: 100%;
    padding: 10px;
    background: #fefefe;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.box-footer button {
    margin-right: 10px;
}