.login-box {
    max-width: 360px;
    margin: 7% auto;
}

.login-logo {
    font-size: 35px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 25px;
}

.login-box-body {
    background-color: #eeeeee;
    padding: 20px;
    border-top: 0;
    color: #666666;
}
