.header {
    background: #ffffff;
    height: 75px;
}

.header__logo {
    float: left;
    width: 255px;
    height: 75px;
    display: flex;
    align-items: center;
}

.header__logo__image {
    width: 190px;
}
